
// Utilities
@import "global";


.menu-search {
  background-color: $color-menu-primary;
}

.menu-size {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-brand-edit {
  display: inline-block;
  /* padding-top: 0.3125rem; */
  /* padding-bottom: 0.3125rem; */
  /* margin-right: 1rem; */
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

form.example {
  width: 100%;
}

/* Style the search field */
form.example input[type=text] {
  padding: 5px;
  font-size: 18px;
  border: 0px solid grey;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  float: left;
  width: 94%;
  background: #ffffff;
}

form.example input[type=text]:focus {
  border: 0px;
}

/* Style the submit button */
form.example button {

  width: 6%;
  padding: 5px;
  background: #EEEEEE;
  color: white;
  border: 0px solid grey;
  font-size: 18px;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #EEEEEE;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}


.container{
  background-color: white;
}

.centerProduct{
  //margin-top: 32px;
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.col-10-edit {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
  position: relative;
  width: 100%;
  padding-right: 0px;
  padding-left: 15px;
}
